<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <!--<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">-->
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" formControlName="username"/>
      <div *ngIf="isInvalidForm('username')" class="alert alert-danger">
        <div *ngIf="isRequired('username')">
          Username is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" formControlName="email"/>
      <div *ngIf="isInvalidForm('email')" class="alert alert-danger">
        <div *ngIf="isRequired('email')">
          Email is required
        </div>
        <div *ngIf="registerForm.controls['email'].errors.pattern">
          Invalid Email format
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input type="text" class="form-control" name="firstname" formControlName="firstname"/>
      <div *ngIf="isInvalidForm('firstname')" class="alert alert-danger">
        <div *ngIf="isRequired('firstname')">
          Firstname is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input type="text" class="form-control" name="lastname" formControlName="lastname"/>
      <div *ngIf="isInvalidForm('lastname')" class="alert alert-danger">
        <div *ngIf="isRequired('lastname')">
          Lastname is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" formControlName="password" />
      <div *ngIf="isInvalidForm('password')" class="alert alert-danger">
        <div *ngIf="isRequired('password')">
          Password is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="c_password">Confirm password</label>
      <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" formControlName="passwordConfirmation"/>
      <div *ngIf="isInvalidForm('passwordConfirmation')" class="alert alert-danger">
        <div *ngIf="isRequired('passwordConfirmation')">
          Confirm password is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="!registerForm.valid" (click)="register()" type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
  <div *ngIf="errors.length > 0" class="alert alert-danger">
      <p *ngFor="let error of errors">
          {{error.detail}}
      </p>
  </div>
</div>
