/* You can add global styles to this file, and also import other style files */
@import 'variables';

html, body, p {
    color: $main-text-color;
}

.apartment {
    color: #de593a;
}

.condo {
    color: #ffd041;
}

.house {
    color: #6e9ecf;
}

.clickable {
    cursor: pointer;
}
